{% extends 'owner/ownerbase.html' %}
{% load static %}

{% block content %}

<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Update Product</h4>
            <p class="mb-30">.....</p>
        </div>
    </div>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="">
        {{br_id}}
        </div>
        <input type="submit" class="btn btn-primary btn-sm">
    </form>
</div>

{% endblock %}
