{% extends 'owner/ownerbase.html' %}
{% load static %}

{% block content %}


	<div class="row">
		<div class="col-xl-3 mb-30">
			<div class="card-box height-100-p widget-style1">
				<div class="d-flex flex-wrap align-items-center">
					<div class="progress-data">
						<div id="chart"></div>
					</div>
					<div class="widget-data">
						<div class="h4 mb-0">{{total_user}}</div>
						<div class="weight-600 font-14">Total User</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 mb-30">
			<div class="card-box height-100-p widget-style1">
				<div class="d-flex flex-wrap align-items-center">
					<div class="progress-data">
						<div id="chart2"></div>
					</div>
					<div class="widget-data">
						<div class="h4 mb-0">{{total_products}}</div>
						<div class="weight-600 font-14">Total Products</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 mb-30">
			<div class="card-box height-100-p widget-style1">
				<div class="d-flex flex-wrap align-items-center">
					<div class="progress-data">
						<div id="chart3"></div>
					</div>
					<div class="widget-data">
						<div class="h4 mb-0">{{total_orders}}</div>
						<div class="weight-600 font-14">Total Orders</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 mb-30">
			<div class="card-box height-100-p widget-style1">
				<div class="d-flex flex-wrap align-items-center">
					<div class="progress-data">
						<div id="chart4"></div>
					</div>
					<div class="widget-data">
						<div class="h4 mb-0">₹ {{total_revenue.order_total__sum|floatformat:2}}</div>
						<div class="weight-600 font-14">Total Revenue</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
	{% comment %} <div class="row">
		<div class="col-xl-8 mb-30">
			<div class="card-box height-100-p pd-20">
				<h2 class="h4 mb-20">Activity</h2>
				<div id="mychart"></div>
			</div>
		</div>
		<div class="col-xl-4 mb-30">
			<div class="card-box height-100-p pd-20">
				<h2 class="h4 mb-20">Lead Target</h2>
				<div id="chart6"></div>
			</div>
		</div>
	</div> {% endcomment %}
				

<!-- ############## -->

	  
	
	<div class="row mt-7 d-flex justify-content-around">
		<div class="col-12 col-lg-12 card shadow p-3 mb-5 bg-white rounded">
			<h5><p class="mt-4 text-center">Monthly Sales</p></h5>
			{% comment %} <p>{{ monthly_order_count }}</p> {% endcomment %}
			<canvas id="monthly_sales" width="1000" height="400"></canvas>
		</div>
	</div>	
	<div class="row mt-7 d-flex justify-content-around">		
		
		<div class="col-12 col-lg-5 card shadow p-3 mb-5 bg-white rounded">
			<h5><p class="mt-4 text-center">Order Status</p></h5>
			
			<canvas id="order_status" width="400" height="400"></canvas>
		</div>
		<!-- <div class="col-12 col-lg-5 card mt-4 shadow p-3 mb-5 bg-white rounded">
			<p class="mt-4">Most Moving Products</p>
			<canvas id="moving_products" width="400" height="400"></canvas>
		</div> -->
	</div>
	
	
	<!-- bar chart -->
	<script>
		var xValues = ['January', 'February', 'March', 'April', 'May', 'June','July', 'August', 'Semptember', 'October', 'November', 'December'];
		var yValues = {{ monthly_order_count }};
		var barColors = "blue";
		
		new Chart("monthly_sales", {
		  type: "bar",
		  data: {
			labels: xValues,
			datasets: [{
			  backgroundColor: barColors,
			  data: yValues
			}]
		  },
		  options: {
			legend: {display: false},
			title: {
			  display: true,
			  text: "Monthly Sales"
			}
		  }
		});
	</script>
	<!-- bar chart end -->


	<!-- pie chart -->	
	<script>
		var xValues = ['New', 'Placed', 'Accepted', 'Shipped', 'Delivered', 'Cancelled'];
		var yValues = {{status_counter}};
		var barColors = ["blue", "orange","purple","brown", "green", 'red'];

		new Chart("order_status", {
			type: "pie",
			data: {
				labels: xValues,
				datasets: [{
					backgroundColor: barColors,
					data: yValues
				}]
			},
			options: {
				legend: {display: true},
				title: {
					responsive: true,
					display: true,
					text: "Number of Orders : {{total_orders}}"
				}
			}
		});
	</script>

	<!-- pie chart end -->

		
		
{% endblock  %}