{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="section-content padding-y bg">
    <div class="container">
    
<!-- ============================ COMPONENT 1 ================================= -->
        {% if not cart_items %}
            <h2 class="text-center">Your Shopping Cart is Empty</h2>
            <br>
            <div class="text-center">
                <a href="{% url 'store' %}" class="btn btn-primary">Continue shopping</a>
            </div>
        {% else %}
            <div class="row">
                <aside class="col-lg-9">
                    <div class="card">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" class="text-right" width="200"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr class="product_data">
                                    <td> <!-- Product -->
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ cart_item.product.images.url}}" class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="{{cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name}}</a>
                                                <p class="text-muted small">
                                                    {% comment %} Ram: 25 Mpx <br>  {% endcomment %}
                                                    Brand: {{ cart_item.product.brand}} <br>
                                                    {% if cart_item.variations.all %}
                                                        {% for item in cart_item.variations.all %}
                                                            {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                        {% endfor %}
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </td> <!-- Product End -->
                                    <td> <!-- Quantity -->
                                        <!-- col.// -->
                                        <div class="col"> 
                                            <div class="input-group input-spinner ">
                                                <input type="hidden" class="prod_id" value="{{ cart_item.product.id }}">   
                                                {% csrf_token %}         
                                                <div class="input-group-append">
                                                    {% comment %} <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                                                        {% csrf_token %}
                                                        {% for item in cart_item.variations.all %}
                                                        <input type="hidden" name="{{ item.variation_category | lower }}" value="{{ item.variation_value | capfirst }}">
                                                        {% endfor %}
                                                        <button  class="btn btn-light" type="submit" id="button-minus"> 
                                                            <i class="fa fa-chevron-up"></i>
                                                        </button> 
                                                    </form> {% endcomment %}
                                                    <button  class="btn btn-light changeQuantity increment-btn" type="submit" id="button-minus"> 
                                                        <i class="fa fa-chevron-up"></i>
                                                    </button>
                                                </div>
                                                <input type="text" class="form-control qty-input"  value="{{ cart_item.quantity}}">
                                                <div class="input-group-prepend">
                                                    {% comment %} <a href="{% url 'remove_cart' cart_item.product.id cart_item.id  %}" class="btn btn-light decrement-btn" type="button" id="button-plus"> 
                                                        <i class="fa fa-chevron-down"></i> 
                                                    </a> {% endcomment %}
                                                    <button  class="btn btn-light changeQuantity decrement-btn" type="submit" id="button-plus"> 
                                                        <i class="fa fa-chevron-down"></i>
                                                    </button>
                                                </div>
                                            </div> <!-- input-group.// -->
                                        </div> <!-- col.// -->
                                    </td> <!-- Quantity End -->
                                    <td> <!-- Price -->
                                        <div class="price-wrap"> 
                                            <var class="price">₹ {{ cart_item.sub_total}}</var> 
                                            <small class="text-muted"> ₹ {{ cart_item.product.price}} each </small> 
                                        </div> <!-- price-wrap .// -->
                                    </td> <!-- Price End -->
                                    <td class="text-right"> 
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to remove the item?....
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id  %}" class="btn btn-danger btn-sm">Remove</a>
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div> 
                                <!-- Modal Body End -->
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- card.// -->
            
                </aside> <!-- col.// -->
                <aside class="col-lg-3">
            
                    <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">₹{{amount}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tax:</dt>
                            
                            <dd class="text-right"> ₹ {{tax}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right text-dark b"><strong>₹{{total}}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="{% static './images/misc/payments.png' %}" height="26">
                        </p>
                        <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Checkout </a>
                        <a href="{% url 'store' %}" class="btn btn-success btn-block">Continue Shopping</a>
                    </div> <!-- card-body.// -->
                    </div> <!-- card.// -->
            
                </aside> <!-- col.// -->
            
            
            </div> <!-- row.// -->
        {% endif %}
<!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
    
<script>
    $(document).ready(function() {
        $('.increment-btn').click(function(e) {
            e.preventDefault();
            var inc_value = $(this).closest('.product_data').find('.qty-input').val();
            var value = parseInt(inc_value, 10);
            value = isNaN(value) ? 0 : value;
            if(value < 20) {
                value++;
                $(this).closest('.product_data').find('.qty-input').val(value);
            }
        });

        $('.decrement-btn').click(function(e) {
            e.preventDefault();
            var dec_value = $(this).closest('.product_data').find('.qty-input').val();
            var value = parseInt(dec_value, 10);
            value = isNaN(value) ? 0 : value;
            if(value > 1) {
                value--;
                $(this).closest('.product_data').find('.qty-input').val(value);
            }
        });

        
        $('.changeQuantity').click(function(e) {
            e.preventDefault();

            var product_id = $(this).closest('.product_data').find('.prod_id').val();
            var product_qty = $(this).closest('.product_data').find('.qty-input').val()
            var token = $('input[name=csrfmiddlewaretoken]').val();
            $.ajax({
                method: 'POST',
                url: '/cart/update_cart/',
                data:{
                    'product_id': product_id,
                    'product_qty': product_qty,
                    csrfmiddlewaretoken : token

                },
                success: function(response) {
                    
                }
            });

        }); 
        
    });
</script>

{% endblock  %}

{% comment %} alertify.success(response.status) {% endcomment %}